/* Resetting default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Nested container styles */
.container .inner-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 60px; 
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    max-width: 200px;
    margin: 0 auto; /* Center the logo horizontally */
}


.hero {
    background-image: url('Images/istockphoto-1846147045-612x612.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #030303;
    padding: 100px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.login-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f03d3d;
    color: #080808;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #555;
}
